NODE_ENV=
NODE_DATABASE_PORT=
NODE_DATABASE_HOST=
NODE_DATABASE_DIALECT=
NODE_DATABASE_USERNAME=
NODE_DATABASE_PASSWORD=
NODE_DATABASE_NAME=
NODE_SERVER_PORT=

NODE_ACCESS_TOKEN_SECRET_KEY=
NODE_REFRESH_TOKEN_SECRET_KEY=
NODE_ACCESS_TOKEN_EXPIRES_IN=
NODE_REFRESH_TOKEN_EXPIRES_IN=

NODE_CLOUDINARY_NAME=
NODE_CLOUDINARY_API_KEY=
NODE_CLOUDINARY_API_SECRET=
