NODE_ENV=development
NODE_DATABASE_PORT=5432
NODE_DATABASE_HOST=localhost
NODE_DATABASE_DIALECT=postgres
NODE_DATABASE_USERNAME=
NODE_DATABASE_PASSWORD=
NODE_DATABASE_NAME=
NODE_SERVER_PORT=8000

NODE_ACCESS_TOKEN_SECRET_KEY=
NODE_REFRESH_TOKEN_SECRET_KEY=
NODE_ACCESS_TOKEN_EXPIRES_IN=1h
NODE_REFRESH_TOKEN_EXPIRES_IN=7d

NODE_CLOUDINARY_NAME=
NODE_CLOUDINARY_API_KEY=
NODE_CLOUDINARY_API_SECRET=
